# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy
pandas
scikit-learn
tensorflow==2.5.1
tensorflow-estimator==2.5.0
matplotlib
seaborn

# tests/linter
black
coverage
flake8
pytest
yapf

# API
gcsfs
google-cloud-storage
mlflow
s3fs

google.cloud
fastapi==0.68.1
uvicorn==0.15.0


# utilities
six>=1.14
joblib

#OUATAI

rasa==2.8.4
rasa-sdk=2.8.2
nltk==3.6.2
