# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy
pandas
scikit-learn

# tests/linter
black
coverage
flake8
pytest
yapf

# API
gcsfs
google-cloud-storage
mlflow
s3fs
fastapi
uvicorn

#chat bot
rasa

# utilities
six>=1.14
joblib
#memoized-property
#termcolor

#OUATAI
google.cloud
#sys
#os
#math
#time


#tensorflow
#tensorflow>=2.5.1
#git+https://github.com/stwind/SketchRNN_tf2
